@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}
@keyframes pulsateBorder {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 255, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(0, 255, 0, 0.7);
  }
}

.portraitImage {
  animation: pulsateBorder 3s infinite;
  border-radius: 70%; /* Ensure the image is circular to match the rounded-full tailwind class */
}


.borderBlack {
  @apply border border-black/10;
}
